
<nav class="navbar  bg-dark navbar-dark fixed-top">
    <div class="navbar-brand">
      <app-sidenav></app-sidenav>
        <span class="padding" >DailyFoods</span>
        <span class="padding" style="font-size:50px;">Uber 
          <span style="color: green; font-weight: bold;">Eats</span></span>
      </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/form">Sign in</a>
      </li>
    </ul>
  </nav>
 
  <app-home></app-home>
  

  