<nav class="navbar bg-dark navbar-dark">
    <div class="navbar-brand mx-5">
        <span>DailyFoods For Bussiness</span>
    </div>
  </nav>
<div class="container">
    <div class="row">
        <div class="card my-5 col-md-6 " >
            <div class="container my-5">
                <form>
                    <h1>Let’s get started</h1>
                    <div class="row mt-5">
                        <div class="col ">
                            <div class="form-group mb-5">
                                <label class="label">First name</label>
                                <input  type="text" class="form-outline form-white form-control-lg col-12">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-5">
                                <label class="label">Last name</label>
                                <input  type="text" class="form-outline form-white form-control-lg col-12">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-5">
                        <label class="label">Oraganization</label>
                        <input  type="text" class="form-outline form-white form-control-lg col-12">
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group mb-5">
                                <label class="label">Company Size</label>
                                <input  type="text" class="form-outline form-white form-control-lg col-12">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group mb-5">
                                <label class="label">Phone</label>
                                <input  type="text" class="form-outline form-white form-control-lg col-12">
                            </div>
                        </div>
                    </div>
                    <div class="form-check mb-5">
                        <input class="form-check-input " type="checkbox" value="" id="defaultCheck1">
                        <label class="form-check-label">
                          I agree , behalf of my company, to the 
                          Uber for Bussiness Terms and Conditions,and Iagree to
                          Uber's Terms of use and Privacy Notes
                        </label>
                      </div>
                      <button type="submit" class="btn btn-dark btn-lg my-4 mx-5">Create</button>
                </form>
                <p style="text-align: right;">Already have an account? <a routerLink="/form">Sign in</a></p>
            </div>
          
        </div>
        <div class="card my-5 col-md-6 " style="background-image: url('assets/p15.jpg');">
            <!-- <img src="assets/p13.jpg"> -->
            <div class="container">
                <h1 class="h1">Everyone’s favorite meals, wherever they work</h1>
                <h3 class="font mb-3 mt-5">Solve all your work meal needs</h3>
                    <p>Create a customized corporate meal program, manage policies, 
                        and set budgets and rules, all within one intuitive dashboard.</p>
                        
                <h3 class="font mb-3 mt-5">Boost employee productivity</h3>
                    <p>CMotivate your employees by providing their
                        favorite meals through the Uber Eats app.
                    </p>
                        
                <h3 class="font mb-3 mt-5">Simplify billing and expensing</h3>
                    <p>Automate expensing by easily integrating all meal
                        receipts with your preferred system..</p>
                        
            </div>
        </div>
    </div>
    
      
</div>
