<div class="text-light ">
    <footer class="footer">
        <div class="row my-5 justify-content-center py-5">
            <div class="col-11">
                <div class="row ">
                    <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                        <span style="font-size:50px;">Uber 
                        <span style="color: green; font-weight: bold;">Eats</span></span>
                        <br>
                        <span >DailyFoods</span>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 bold-text "><b>Most Populer Cities</b></h6>
                        <ul >
                            <li>Colombo 10</li>
                            <li>Negegoda</li>
                            <li>Kottawa</li>
                            <li>Peta</li>
                        </ul>
                    </div>
                    <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                        <h6 class="mb-3 mb-lg-4 text-muted bold-text "><b>Countries</b></h6>
                        <ul>
                            <li>SriLanka</li>
                            <li>Japan</li>
                            <li>Switzerland</li>
                            <li>Canada</li>
                        </ul>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-2 col-md-2 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-muted bold-text"><b>TAASHI</b></h6><small> taashi619@gmail.com</small>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-auto order-1 align-self-end mt-3 ">
                        <h6 class="mt-55 mt-2 text-muted bold-text"><b>SUNETHRA</b></h6><small> suuu@gmail.com</small>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-muted bold-text"><b>PAVITHRA</b></h6><small> pavi@gmail.com</small>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-muted bold-text"><b>RAGISHA</b></h6><small> ragi@gmail.com</small>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                        <h6 class="text-muted bold-text"><b>GIHANTHI</b></h6><small> gihanthi@gmail.com</small>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xl-8 col-md-12 col-sm-12 col-auto my-md-0 order-sm-1 order-3 align-self-end py-5">
                        <small class="rights">© 2021 Copyright: Only for Learning Purpose Created Web App</small>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
