<div id="mySidenav" class="sidenav">
    <a>
    <mat-icon routerLink="/" class="icon mb-4" (click)="closeNav()">close</mat-icon>
    </a>
    <button type="button" class="btn btn-light btn-lg col-lg-9 mx-4 mb-3" routerLink="/form">Sign in</button>
    <a class="nav-link" routerLink="/bussiness">Create a business account</a>
    <a class="nav-link" routerLink="/bform">Add your restaurant</a>
    <a class="nav-link" routerLink="/form">Sign up to deliver</a>
    <div class="footer">
      <img src="assets\u.jpg " width="70px" class="d-flex-text"><p>There's more to love in the app.</p>
    </div>
    <!-- <footer class="row w-100"><img src="assets\logo.png " width="20px">There's more to love in the app.</footer> -->
  </div>
  <a class="icon" >
    <mat-icon (click)="openNav()">menu</mat-icon>
</a>
