<div class="container">
  <div class="bg-image">
     <div class="para">
      <h1>Hungry? You're in the right place</h1>
      <form class="form-inline">
          <!-- <div class class="col-lg-6"> -->
            <!-- form-control form-control-lg  -->
            <input class="form-outline form-white col-lg-6 form-control-lg mx-2" type="text" placeholder="Address">
            <select class="form-outline form-white form-control-lg mx-2">
              <option>Deliver Now</option>
              <option>Shedule for Later</option>
            </select>
            <button type="submit" class="btn-lg btn-dark mx-2">Submit</button>
          <!-- </div> -->
        </form>
        <p class="container"><a href="#">Sign</a> In for your recent addresses</p>
      </div>
  </div>
<h2 class="font-inline d-flex justify-content-center"><img src="assets\logo.png " width="50px" class="mx-2">There's more to love in the app.</h2>


</div>


