.center{
    text-align:right;
    margin: 5rem;
}
.card{
    border-top-width: medium;
    border-left: none;
    border-right: none;
    margin: 5rem;

}
.color{
    color: green;
    font-weight: bold;
}