.card{
   text-align: center;
   border:darkslateblue;
}
.text{
    font-size:60px;
    text-align: center;
}
.label{
    font-size:20px;
}
.card-footer{
    background-color: transparent;
    text-align: center;
}
