* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.log {
    background-color: grey;
}

.d-block {
    width: 600px;
    height: 95vh
}

.login {
    position: center;
}

span {
    color: green;
}

div.bg-image {
    width: 100vw;
    height: 100vh;
    background-image: url(/assets/7.jpg);
}