<div class="container">
    <div class="d-flex justify-content-center my-5 ">
        <h1 class="text">Uber<span style="color: green;">Eats</span></h1>
        </div>    
        <div class="card" style="width: 35rem;height: 35rem;">
            <div class="card-body">
              <h3 class="card-title">Welcome back</h3>
              <p class="card-text mt-5">
                  <form>
                    <div class="form-group">
                      <label class="label">Sign in with your email address or mobile number.</label>
                      <input  type="email" class="form-outline form-white col-lg form-control-lg"  placeholder="Email or Mobile Number">
                      <button type="button" class="btn btn-success btn-block btn-lg mt-3 disabled">Next</button>
                    </div>
                    <div class="card-footer">
                        <p>New to Uber ? <a href="#"> Create an Account</a></p>
                    </div>
                </form>
            </div>
          </div>
     
    
</div>
